.App {
  text-align: center;
}
/* .container {
  display: flex; /* or inline-flex 
} 
*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Assuming you are using Tailwind CSS */
.blue-button {
  @apply text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 me-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800;

  /* Responsive styles */
  @apply text-sm lg:text-sm; /* Responsive text sizes */
  @apply px-1 sm:px-3 lg:px-5 py-1 sm:py-2 lg:py-3; /* Responsive padding */
}

.black-button {
  @apply hover:text-white border border-gray-300 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 me-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800;

  @apply text-base lg:text-sm; /* Responsive text sizes */
  @apply px-1 sm:px-3 lg:px-5 py-1 sm:py-2 lg:py-3; /* Responsive padding */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
